@media screen and (max-width: 767px) {
  body {
    width: 300px;
  }
  .center-left {
    width: 100px;
  }

  .center-right {
    width: 200px;
  }

  .center-center, .center-top, .center-bottom {
    width: 125px;
  }

  .center-right2 {
    width: 75px;
  }

  .center-right-bottom {
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  body{
    width: 150px;
    height:75 0px;
  }

  .center{
    width:150px;
    height:500px;
    float:none;
  }

  .center-left{
    width:150px;
    float: none;
  }

  .center-top {
    width:150px;
    height: 50px;
    float: none;
  }

  .center-bottom{
    width: 150px;
    height: 100px;
  }

  .center-center{
    width: 150px;
    height: 150px;
    float:none;
  }
  
  .center-right-top{
    width:150px;
    height: 300px;
    float: none;
  }

  .center-right2{
    width: 150px;
    float:none;
  }
  .center-right-bottom {
    height: 100px;
    width: 150px;
  }
  .footer{
    height: 100px;
  }

  .center-left, .center-right{
    width: 150px;
    height: 100px;
  }
}