@media screen and (max-width: 767px) {
  body {
    width: 300px;
  }
  .center-left {
    width: 100px;
  }

  .center-right {
    width: 200px;
  }

  .center-center, .center-top, .center-bottom {
    width: 125px;
  }

  .center-right2 {
    width: 75px;
  }

  .center-right-bottom {
    width: 200px;
  }
}

@media screen and (max-width: 479px) {
  body,  .center-right-top,
  .center-center, .center-right2, .center-top, .center-bottom, .center-right-bottom, .footer{
    width: 150px;
    float: none;
  }

  .center-left, .center-right{
    width: 150px;
    height: 100px;
  }

  .center {
    height: 250px;
  }
}