body {
  width: 400px;
}

.header {
  height: 100px;
  background-color: #141f40;
}

.center {
  height: 250px;
}

.center-left {
  height: 100%;
  width: 150px;
  background-color: #80bfa8;
  float: left;
}

.center-right {
  width: 250px;
  height: 100%;
  float: left;
}

.center-right-top {
  width: 250px;
  height: 150px;
}

.center-center {
  width: 150px;
  height: 100%;
  float: left;
}

.center-top {
  height: 50px;
  background-color: #dbd400;
}

.center-bottom {
  height: 100px;
  background-color: #0093b7;
}

.center-right2 {
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: left;
}

.center-right-bottom {
  height: 100px;
  background-color: #8c2727;
}

.footer {
  height: 100px;
  background-color: #d98d30;
}

.clearfix::after { 
  content: '';
  display: block; 
  clear: both;
}
